<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="banner">    <!--upper block(logo,name,search-bar,date)-->
        <div class="banner-block">
            <img src="..\assets\logo1.png" height="100vh" width="100vw">
        </div>
        <div class="banner-block" class="name">
            <h2>WeatherLens</h2>
        </div>
        <div class="search-bar">
            <div class="search-bar-container">
                <div class="search">
                    <input type="search" [(ngModel)]="city" name="city" placeholder="Weather in your City">
                </div>
                <div class="search-icon">
                    <button (click)="toggleDisplay()" type="submit"><img src="..\assets\find (1).svg" height="16vh"
                            width="13vw"> </button>
                </div>
            </div>
        </div>
        <div class="date">{{date}}</div>
    </div>
    <div class="weather-data-container">    <!--lower-block(weatherdata and forecastdata)-->
        <div [hidden]="isDisplay" class="current-weather-data" class="current-weather">
            <div class="upper-data">
                <img src="..\assets\cold.jpg" *ngIf="weatherdata.temperature<20">  <!--if the temperature is less than 20,this image is displayed-->
                <img src="..\assets\hot.jpg" *ngIf="weatherdata.temperature>=20">  <!--if the temperature is greater than 20,this image is displayed-->
                <div class="weather-data">
                    <div class="temperature">{{weatherdata.weather_details.temperature}}°C</div>
                    <div class="icon"><img src="http://openweathermap.org/img/w/{{weatherdata.weather_details.icon}}.png"></div>
                    <div class="city">{{weatherdata.weather_details.city}}</div>
                </div>
            </div>
            <div class="lower-data">
                <div class="more-data">
                    <div class="info-block">
                        <div class="info-block-label">
                            <img src="..\assets\humidity.svg" height="75px" width="75px">
                            <span>Humidity</span>
                        </div>
                        <div class="info-block-value">{{weatherdata.weather_details.humidity}}%</div>
                    </div>
                    <div class="info-block">
                        <div class="info-block-label">
                            <img src="..\assets\pressure-meter.svg" height="75px" width="75px">
                            <span>Pressure</span>
                        </div>
                        <div class="info-block-value">{{weatherdata.weather_details.pressure}} hPa</div>
                    </div>
                    <div class="info-block">
                        <div class="info-block-label">
                            <img src="..\assets\low-temperature.svg" height="75px" width="75px">
                            <span>Min</span>
                        </div>
                        <div class="info-block-value">{{weatherdata.weather_details.minimum_temp}}°C</div>
                    </div>
                    <div class="info-block">
                        <div class="info-block-label">
                            <img src="..\assets\high-temperature.svg" height="75px" width="75px">
                            <span>Max</span>
                        </div>
                        <div class="info-block-value">{{weatherdata.weather_details.maximum_temp}}°C</div>
                    </div>
                </div>
            </div>
        </div>
        <div [hidden]="isDisplay" class="forecast-data-fields" class="forecast-data">
            <button (click)="sort()"><img src="..\assets\sort.svg" height="20px" width="30px"></button>
            <div *ngFor="let f of forecastdata">
                <div class="forecast">
                    <div class="forecast-date">{{f.date}}</div>
                    <div class="forecast-temperature">{{f.temperature}}°C</div>
                    <div class="forecast-image"><img src="http://openweathermap.org/img/w/{{f.icon}}.png"></div>
                    <div class="forecast-description">{{f.description}}</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>