* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3JhZGllbnQlMjBibHVlfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: fixed;
  width: 100vw;



}

.main {
  width: 350px;
  border: 3px solid rgb(64, 97, 190);
  padding: 9px;
  border-radius: 30px;
  margin-top: -30px;
  margin-left: 430px;
  background-color: rgb(241, 241, 247);
  height: 20px;




}

.main button {
  margin-left: 293px;
  margin-top: -100px;
}

input {
  background: transparent;
  border: 0px;
  outline: 0px;
  width: 330px;
  font-size: medium;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;

}

.time {
  margin: 0px;
  padding: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 400px;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;


}

.grid-container1 {
  display: grid;
  grid-template-columns: 10px 10px;
  padding: -50px;
  width: 50px;
  height: 10px;
}

.grid-item1 {
  padding: 20px;
  font-size: 30px;
  margin-top: -35px;
}

.grid-item2 {
  padding: 20px;
  font-size: 30px;
  margin-top: -28px;
  margin-left: 3px;
  background: transparent;
}

.name {
  margin-top: 60px;
  margin-left: 32px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(10, 11, 12);
  border-color: blue;
}

.container {
  width: 300px;
  height: 65vh;
  background-color: rgb(37, 46, 98);
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);
  margin-left: 300px;
  margin-top: 20px;

}



.upper-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.upper-data img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.weather-data {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-data);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.city {
  color: black;
  text-align: center;
  margin-top: -60px;
  font-size: 0.9cm;


}

.temperature {
  color: black;
  font-size: 1cm;
  text-align: center;
  font-weight: 900;
  margin-bottom: -20px;


}

.icon {
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 1;
  margin-top: 20px;

}

.more-data {
  flex: 1;
  background-color: rgb(37, 46, 98);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;



}

.info-block {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.info-block-label {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.info-block-label img {
  height: 30px;
  width: 30px
}

.info-block-label span {
  color: white;
  font-size: 0.8em;

}

.info-block-value {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  color: white;
  margin-top: 35px;

}